.footer {
  background: $black;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    li {
      margin-top: 0 !important;
      &.is-narrow {
        padding: 0;
        text-align: center;
      }
      a {
        color: white;
        margin: 0 15px;
      }
    }
  }
}
