.navbar {
  background: $black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: none;
  padding: rem(10px) 0;

  .navbar-item {
    background: $clear !important;
  }

  .navbar-start {
    display: flex;

    .navbar-brand {
      font-family: $serif;

      a {
        color: white;
      }

      &.hidden {
        opacity: 1 !important;
      }
    }

    .offcanvas-toggle {
      outline: none;
      margin: 10px;
      margin-left: auto;
      background: none;
      border: none;
      z-index: 2;

      span {
        content: '';
        display: block;
        height: 2px;
        width: 30px;
        background: white;
        transition: all 0.5s;

        &:before {
          content: '';
          position: relative;
          bottom: 9px;
          display: block;
          height: 2px;
          width: 30px;
          background: white;
          transition: all 0.5s;
        }

        &:after {
          content: '';
          position: relative;
          top: 7px;
          display: block;
          height: 2px;
          width: 30px;
          background: white;
          transition: all 0.5s;
        }
      }

      &.active {
        span {
          background: $clear;

          &:before {
            top: -1px;
            background: white;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
          }

          &:after {
            top: -2px;
            background: white;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
          }
        }
      }
    }
  }

  @media (min-width: 1088px) {
    .offcanvas-toggle {
      visibility: hidden;
      display: none;
    }
  }

  .navbar-menu {
    margin: 0;

    li {
      a {
        color: white;
      }
    }
  }
}

.is-home {
  .navbar {
    transition: all 0.25s;

    a {
      transition: all 0.25s;
    }

    &.clear {
      background: $clear;

      .navbar-brand {
        visibility: hidden;
        opacity: 0;
      }

      a {
        color: $black;
      }
    }
  }
}