.is-page {
  margin-top: rem(90px);
}

.content {
  a {
    color: $black;
    text-decoration: underline;
  }
}

h1,
.is-size-1 {
  font-size: rem(48px) !important;
  font-weight: normal;
}

h2,
.is-size-2 {
  font-size: rem(40px) !important;
  font-weight: normal;
}

h3,
.is-size-3 {
  font-size: rem(32px) !important;
  font-weight: normal;
}

h4,
.is-size-4 {
  font-size: rem(24px) !important;
  font-weight: normal;
}

h5,
.is-size-5 {
  font-size: rem(20px) !important;
  font-weight: normal;
}

h6,
.is-size-6 {
  font-size: rem(16px) !important;
  font-weight: normal;
}

p {
  font-size: rem(19px);
  font-family: $sans;
}

button,
.button {
  border: rem(2px) solid $black;
  background: $clear;
  border-radius: 0;
  transition: all 0.25s;
  font-size: rem(16px);

  &:hover {
    border: rem(2px) solid $black;
    background: $black;
    color: white;
  }
}

.is-12 {
  width: 100%;
}

input:focus,
button:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none !important;
}

    .fa-devto {
      background-image: url('https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg');
      background-repeat: no-repeat;
      display: block;
    }