.mailchimp {
  background: rgba($grey, 0.3);
  text-align: center;
  padding: rem(15px) 0;

  &__container {
    @include container;
  }

  &__title {
    font-family: $serif;
    font-size: rem(22px);
    margin-bottom: rem(10px) !important;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__message {
    color: green !important;
    width: 100%;
    margin-bottom: 0 !important;
  }

  &__input {
    font-size: rem(18px) !important;
    width: rem(300px);
    margin-right: rem(10px);
  }

  &__button {
    @include button;
  }
}