.is-mailchimp {
  background:rgba($grey, 0.3);
  text-align:center;
  form {
    .field {
      display:flex;
      flex-wrap:wrap;
      justify-content:center;
      align-items:center;
      .has-text-success {
        color:green!important;
        width:100%;
      }
      .control {
        input[type="text"] {
          font-size:1.8rem !important;
          width: 300px;
          margin-right:10px;
        }
        .button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          display: block;
          margin: 0 auto;
          border: 2px solid $black;
          background: $clear;
          cursor: pointer;
          transition: all 0.25s;
          &:hover {
            background: $black;
            color: white;
          }
        }
      }
    }
  }
}