.portfolio-items {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  .portfolio-item {
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
    font-family: $serif;
    text-decoration: none;
    background: #000;
    &:after {
      @include responsive;
    }
    > div:nth-child(1) {
      width: 100%;
      text-align: center;
      opacity: 0;
      z-index: 1;
      font-weight: 700;
      transition: all 0.5s;
      p {
        margin: 0;
      }
    }
    .gatsby-image-wrapper {
      position: absolute !important;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      opacity: 1;
      transition: all 1s;
    }
    span {
      display: block;
      margin: 5px auto;
      padding-bottom: 1px;
      height: 0;
      width: 0;
      transition: all 0.75s ease;
    }
    img {
      position: absolute;
      height: 100%;
      width: auto;
      max-width: none;
      z-index: 0;
      transition: all 1s !important;
    }
    &:hover div {
      opacity: 1;
    }
    &:hover span {
      width: 20%;
      background: white;
    }
    &:hover .gatsby-image-wrapper {
      opacity: 0.5;
    }
    &:hover img {
      opacity: 0.5;
      transform: scale(1.3, 1.3);
      -moz-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
      -o-transform: scale(1.3, 1.3);
      -webkit-transform: scale(1.3, 1.3);
    }
  }
}
