.pre-title {
  padding: 0.5rem 1rem 0;
  color: $dark;
  font-size: 1.75rem;
  font-family: $serif;
  text-align: right;
  z-index: 0;
}

.button {
  text-decoration: none !important;
}

code {
  color: $dark;
}

blockquote {
  margin: 5rem;
  border: 1px solid $light !important;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem $grey;
  background-color: white !important;
  font-family: $serif;
  font-size: 2.5rem;
}

.message {
  margin: 5rem !important;
  border: 1px solid $light !important;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem $grey;
  background-color: white !important;
  font-family: $serif;
  font-size: 1.9rem;

  &-body {
    border: none;
  }
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 7.5px;
  border: 1px solid $black;
  border-radius: 0;
  font: inherit;

  &:focus {
    outline: none !important;
  }
}

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30%;
  display: block;
  margin: 0 auto;
  border: 2px solid $black;
  background: white;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    background: $black;
    color: white;
  }
}

textarea {
  width: 100%;
  margin: 10px 0;
  padding: 7.5px;
  height: 150px;
  border: 1px solid $black;
  font: inherit;

  &:focus {
    outline: none !important;
  }
}

ul {
  >li {
    >p {
      margin: 0 !important;
    }

    >ul {
      margin-top: 0 !important;
    }
  }
}

@media (max-width: 600px) {

  pre,
  blockquote {
    margin: 5rem 0 !important;
  }
}