html {
  background: white;
  font-size: $rem-baseline;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $sans;
  font-size: rem(19px);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

// Headings
@for $i from 1 to 6 {
  $size: 48px - ($i * 8px);

  h#{$i} {
    font-family: $serif;
    font-size: rem($size)
  }
}

input {
  border: rem(1px) solid $black;
  border-radius: 0;
  font: inherit;
  margin: 10px 0;
  padding: 7.5px;
  width: 100%;

  &:focus {
    outline: none !important;
  }
}

textarea {
  @extend input;
  height: rem(150px);
  resize: none;
}

input[type='submit'],
button {
  @include button;
  padding: rem(5px) rem(10px);
}

/////////////////////
.pre-title {
  padding: 0.5rem 1rem 0;
  color: $dark;
  font-size: 1.75rem;
  font-family: $serif;
  text-align: right;
  z-index: 0;
}

.button {
  text-decoration: none !important;
}

code {
  color: $dark;
}

blockquote {
  margin: 5rem !important;
  border: 1px solid $light !important;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem $grey;
  background-color: white !important;
  font-family: $serif;
  // font-size: 2.5rem;
}

.message {
  margin: 5rem !important;
  border: 1px solid $light !important;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem $grey;
  background-color: white !important;
  font-family: $serif;
  font-size: 1.9rem;

  &-body {
    border: none;
  }
}

ul {
  >li {
    >p {
      margin: 0 !important;
    }

    >ul {
      margin-top: 0 !important;
    }
  }
}

@media (max-width: 600px) {

  pre,
  blockquote {
    margin: 5rem 0 !important;
  }
}