$black: #222;
$dark: #666666;
$grey: #b1b1b1;
$light: #eeeeee;
$serif: 'Playfair Display', serif;
$sans: 'Raleway', sans-serif;
$clear: rgba(0, 0, 0, 0);

$facebook: #3b5998;
$facebookDark: #36518c;
$twitter: #1da1f2;
$twitterDark: #1b98e5;
$google: #db4437;
$googleDark: #ce4033;
$linkedin: #0077b5;
$linkedinDark: #006da8;
$pinterest: #bd081c;
$pinterestDark: #af071a;
$email: #aaaaaa;
$emailDark: #9e9e9e;

$handheld: "max-width: 1024px";
