.is-blog {
  .content {
    margin-bottom: 0;
  }
}

#blog-post {
  margin-top: 55px;
  margin-bottom: 55px;

  .hero {
    max-height: 600px;
  }

  h1.is-size-1,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $serif;
    font-weight: normal;
  }

  #post-content {
    margin-bottom: 50px;

    h2 {
      font-size: 3.2rem !important;

      &:before {
        content: '#';
        font-family: $serif;
        color: $grey;
        font-weight: 700;
        font-size: 4.5rem;
        margin-right: 5px;
        position: relative;
        top: 5px;
      }
    }

    h3 {
      margin-top: 40px;
      color: $grey;
      font-size: 2.4rem !important;
    }

    h4 {
      margin-top: 40px;
      color: $grey;
      font-size: 2rem !important;
    }

    video,
    img {
      display: block;
      max-width: 100%;
      margin: 3rem auto;

      @include breakpoint($tablet) {
        max-width: 800px;
      }
    }

    .gatsby-resp-image-wrapper {
      max-width: 800px;
      margin: 3rem auto;
      border-radius: 0.5rem;
      box-shadow: 0.5rem 0.5rem 1rem $grey;
      overflow: hidden;

      img {
        height: calc(100% + 5px) !important;
        margin: 0;
      }
    }

    .images-side-by-side {
      .gatsby-resp-image-wrapper {
        max-height: 400px !important;
      }
    }

    .pre-title {
      width: 100% !important;
      max-width: 1000px !important;
      margin: 2rem auto 0 !important;
      color: $grey;
    }

    pre {
      max-width: 1000px;
      margin: 0 auto 3rem !important;
      border: 1px solid $dark !important;
      border-radius: 0.5rem;
      box-shadow: 0.5rem 0.5rem 1rem $grey;
    }

    iframe {
      min-height: 600px;
      max-width: 1000px;
      display: block;
      margin: 0 auto;
    }
  }
}